[submodule "flextools"]
	path = flextools
	url = https://github.com/Samuel-DEVULDER/flextools.git
[submodule "ESCParser_FX80"]
	path = ESCParser_FX80
	url = https://github.com/Samuel-DEVULDER/ESCParser_FX80.git
[submodule "Apollo_7_Squale_Forth83"]
	path = Apollo_7_Squale_Forth83
	url = https://github.com/Samuel-DEVULDER/Apollo_7_Squale_Forth83.git
[submodule "SQpix/stb"]
	path = SQpix/stb
	url = https://github.com/nothings/stb.git
[submodule "SQpix/exomizer"]
	path = SQpix/exomizer
	url = https://github.com/bitshifters/exomizer.git
[submodule "SQpix/A09"]
	path = SQpix/A09
	url = https://github.com/Arakula/A09.git
[submodule "SQpix/gifenc"]
	path = SQpix/gifenc
	url = https://github.com/lecram/gifenc.git
